.create-post-container{
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    color: var(--dark-green);
    font-size: 15px;
}

.p-field{
    display: flex;
    flex-direction: column;
}

.create-post-container form{
    padding: 30px;
}

.create-post-container form input, .create-post-container form select, .thumbnail-preview{
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.content-editor{
    margin: 10px 0;
    flex: 1;

}

.create-post-btn{
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 10px 30px;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
}