.course-detail-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

 
  
  .course-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
  }
  
  .course-detail-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw; /* Full width for the header */
    margin-left: calc(-50vw + 50%); /* Centers the 100vw element */
  }
  
  .course-detail-header header {
    background-color: var(--light-green);
    width: 100vw; /* Ensure header takes full viewport width */
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    gap: 60px;
    color: var(--dark-green);
    margin-left: calc(-50vw + 50%); 
    box-shadow: 0px 2px 10px rgba(149, 157, 165, 0.2);
  }

  .course-col1{
    flex-basis: 60%;
  }

  .course-col2{
    flex-basis: 40%;
  }
  
  .course-col1 h1 {
    margin-bottom: 20px;
    line-height: 45px;
  }
  
  .course-col1 p {
    margin: 10px 0;
    line-height: 30px;
  }
  
  .course-detail-header header img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .course-description {
    font-size: 20px;
    margin: 20px 0;
  }

  .date-rating{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
  
  .course-detail-main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
  }
  
  .course-detail-main main {
    
    /* flex: 1; */
    margin: 30px 0;
    min-width: 300px; /* Ensures minimum width */
  }
  
  .course-topics h1, .course-highlights h1 {
    margin: 30px 0;
    color: var(--dark-green);
  }
  
  .course-topics ul, .course-highlights ul {
    list-style: none;
    margin-bottom: 50px;
  }
  
  .course-topics li, .course-highlights li {
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .course-topics li img, .course-highlights li img {
    margin-right: 10px;
  }
  
  /* Enquiry Form */
  .course-enquiry {
    padding: 50px 20px;
    border-radius: 5px;
    margin: 30px auto;
    background-color: var(--light-green);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    position: sticky;
    top: 100px;
    min-width: 330px;
  }

  
  
  .course-enquiry h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--dark-green);
  }
  
  .course-enquiry form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    
  }
  
  .course-enquiry form input,
  .course-enquiry form textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 8px;
    border: none;
  }
  
  .course-enquiry form textarea:focus {
    outline: none;
  }
  
  .enquiry-btn {
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 10px 30px;
    font-size: 15px;
    margin-top: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    width: auto;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s ease; /* Smooth transition for effects */
}

.enquiry-btn:hover{
  background-color: var(--orange) ; 
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px;
}

.enquiry-btn:active {
    transform: translateY(2px); /* Move button down when clicked */
    box-shadow: rgba(0, 0, 0, 0.1) 1.5px 1.5px 2px; /* Change shadow */
    /* background-color: var(--light-green);  */
}


  
  
  .course-icons{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .course-icon{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .course-icon-para p{
    margin: 0;
  }


  .svg-icon{
    stroke: var(--dark-green);
    width: 70px;
    height: 70px;
}

.svg-icon-clock{
    width: 60px;
    height: 60px;
}

  @media screen and (max-width: 768px) {
    .course-detail-header header {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      padding: 0;
      gap: 0;
    }

    .course-col1{
        padding: 20px;
    }
    .course-col1 h1 {
      font-size: 24px;
      line-height: 35px;
    }

    .course-col1 p {
      line-height: 27px;
      text-align: justify;
      font-size: 17px;
    }

    .date-rating{
      justify-content: space-between;
      padding: 0;
    }

    .rating{
      font-size: 18px !important;  
    }

    .date-rating p{
      font-size: 14px;
    }
  
    .course-detail-main {
      flex-direction: column;
      gap: 0;
    }

    .course-detail-main main{
        margin: 0 
    }

    .course-detail-header header img {
      width: 100vw;
      height: 250px;
      object-fit: cover;
      border-radius: 0;
    }

    .course-icons{
        justify-content: space-between;
    }

    

    .svg-icon{
        stroke: var(--dark-green);
        width: 40px;
        height: 40px;
    }
    
    .svg-icon-clock{
        width: 30px;
        height: 30px;
    }

      .course-icon-para p{
        font-size: 13px;
        text-align: left;
        margin-top: -5px;
      }

      .course-icon{
        gap: 5px;
      }

      .course-col2 {
        position: relative;
        width: 100%;
    }
    
   
  
    .course-col2 h1 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        margin: 0;
        font-size: 24px;
        color: #F2F7F7; /* Light caption color for contrast */
        text-align: center;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #0A4044 90%);
        border-radius: 0 0 5px 5px; /* Match border-radius with the image */
    }
      


  }
 