.image-gallery{
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center; /* Center align the images */
    justify-content: center;
}

.fancybox__container{
  z-index: 1500 !important;
}



