.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the .App takes the full height of the viewport */
}


.main-content {
  flex: 1; 
  padding-top: 80px;
  width: 100%; 
  max-width: 1300px; 
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.float{
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: #5AD252;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 1024px) {
  .main-content{
    padding-top: 70px;
  }
}