*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium", sans-serif
}

:root{
    --dark-green: #0A4044; 
    --light-green: #DFEAEA;
    --orange: #E68657;
    --background-color: #F4F4F4;
    --grey: #7a7f85
}

body {
    overflow-x: hidden; 
    background-color: var(--background-color);
}