@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}

:root{
    --dark-green: #0A4044; 
    --light-green: #F2F7F7;
    --orange: #E68657;
    --background-color: #F8F8FF;
    --grey: #7a7f85
}

body {
    overflow-x: hidden; 
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--dark-green); 
  }

  ::-webkit-scrollbar-thumb {
    background: var(--dark-green); 
    border-radius: 10px;
  }

  html {
    scroll-padding-top: 80px; 
  }

  @media (max-width: 768px) {
    html {
      scroll-padding-top: 50px; 
    }
  }