@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}

:root{
    --dark-green: #0A4044; 
    --light-green: #F2F7F7;
    --orange: #E68657;
    --background-color: #F8F8FF;
    --grey: #7a7f85
}

body {
    overflow-x: hidden; 
    background-color: var(--background-color);
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Reduced scrollbar width */
  }
  
  ::-webkit-scrollbar-track {
    background: #e0e0e0; /* Light grey track color */
    border-radius: 8px; /* Rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #bfbfbf; /* Light grey thumb color */
    border-radius: 8px;        /* Rounded corners for the thumb */
    border: 2px solid #e0e0e0; /* Adds padding with a border */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a9a9a9; /* Darker grey on hover */
  }
  
  ::-webkit-scrollbar-button {
    display: none; /* Hide default scrollbar arrows */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;             /* Thin scrollbar width */
    scrollbar-color: #bfbfbf #e0e0e0; /* Light grey thumb and track color */
  }
  